.comment-form__error-top {
    color: red;
    text-align: center;
    font-size: 24px;
}

.item-detail__container {
    display:flex;
    flex-wrap: wrap;
    margin: 60px 40px 40px 40px;
}

.item-image__container {
    width: 50%;
    text-align: right;
}

.item-image {
    width: 640px;
    height: 640px;
    border: 1px solid black;
}

.item-information__container {
    width: 50%;
    padding-left: 40px;
}

.item-name {
    font-size: 40px;
    margin: 0px;
}

.item-sold {
    color: red;
    margin-left: 20px;
}

.item-brand {
    margin: 1px 0px;
    font-size: 16px;
}

.item-price {
    font-size: 30px;
    margin-bottom: 10px;
}
.item-price__number {
    font-size: 40px;
}

.assessment-container {
    margin-bottom: 15px;
}

.assessment-image__inner {
    display: flex;
    justify-content: left;
    align-items: center;
}
.likes__form {
    width: 80px;
    margin-left: 50px;
}

.likes__btn {
    background-color: white;
    border: none;
    font-size: 14px;
}

.likes__image {
    width: 40px;
    height: 40px;
}

.likes-number {
    display: block;
    font-size: 14px;
}

.likes-number__add {
    display: block;
    font-size: 14px;
    color: #FF5555;
}

.comment-image__inner {
    width: 80px;
    text-align: center;
}

.comment-image {
    width: 40px;
    height: 40px;
}

.comment-count {
    display: block;
    font-size: 14px;
}

.purchase-btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    background-color: #FF5555;
    border-radius: 2px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0px auto;
}

.purchase-sold {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #FF5555;
    border-radius: 2px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0px auto;
}

.item-explain__content {
    margin-top: 30px;
}

.item-explain {
    font-size: 36px;
    font-weight: bold;
}

.item-explain__content {
    margin: 10px 0px;
}

.item-information {
    margin-bottom: 20px;
}

.item-information__heading {
    font-size: 36px;
    font-weight: bold;
}

.item-information__table {
    width: 100%;
}

.table-row__category {
    width: 100%;
}

.table-header__category {
    width: 30%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.table-data__category {
    display: inline-block;
    background-color: #D9D9D9;
    border-radius: 14px;
    padding: 2px 8px;
    margin: 2px 5px;
}

.table-row__condition {
    width: 100%;
}

.table-heading__condition {
    width: 30%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.table-data__condition {
    padding-left: 20px;
}

.item-comment {
    margin-bottom: 40px;
}

.item-comment__heading {
    font-size: 36px;
    font-weight: bold;
    color: #5F5F5F;
}

.item-comment__inner-image {
    display: flex;
}

.item-comment__image {
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.item-comment__name {
    margin: auto 20px;
    font-size: 36px;
    font-weight: bold;
}

.item-comment__content {
    background-color: #E5E5E5;
    padding: 5px;
    margin: 15px 0px;
}

.comment-form__heading {
    margin: 5px 0px;
    font-size: 20px;
    font-weight: bold;
}

.comment-form__textarea {
    width: 100%;
    height: 250px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.comment-form__error-message {
    color: red;
    margin: 3px 0px;
    text-align: center;
}

.comment-form__btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    background-color: #FF5555;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto;
}

@media screen and (max-width: 1280px)
{
    .item-detail__container {
        margin: 30px;
    }

    .item-image {
        width: 350px;
        height: 350px;
    }

    .item-information__container {
        padding-left: 20px;
    }
}